.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.books {
    display: flex;
    gap: 10px;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: aquamarine;
}

.delete {
   padding: 3px 6px;
   background-color: white;
   cursor: pointer;
   color: red;
}

.update {
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    color: rgb(106,101,165)
 }

 .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

 }

 input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
 }

 .updateButton {
    width: 270px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
 }

 .addButton {
    width: 270px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
 }

 .addBookButton {
   margin: 20px auto;
   color: lightslategray;
 }